@model LayerEntity.Entities.Yorum

<h4>Yorum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="YorumEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YorumKullaniciAdi" class="control-label"></label>
                <input asp-for="YorumKullaniciAdi" class="form-control" />
                <span asp-validation-for="YorumKullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YorumBasligi" class="control-label"></label>
                <input asp-for="YorumBasligi" class="form-control" />
                <span asp-validation-for="YorumBasligi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YorumIcerigi" class="control-label"></label>
                <input asp-for="YorumIcerigi" class="form-control" />
                <span asp-validation-for="YorumIcerigi" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="YaziID" class="control-label"></label>
                <input asp-for="YaziID" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Yorum Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
